body {
  color: white;
  background-color: black;
}
  
h1 {
  color: red;
  text-align: center;
}

h2 {
  font-style: italic;
  text-align: center;
}

p {
  font-family: serif;
  text-align: left;
  font-size: 12px;
  line-height: 24px;
}

ul {
  font-size: 20px;
  line-height: 30px;
  font-style: bold;
}