body {
  color: white;
  background-color: black;
}
  
h1 {
  color: red;
  text-align: center;
}

h2 {
  font-style: italic;
  text-align: center;
}

p {
  font-family: serif;
  text-align: left;
  font-size: 12px;
  line-height: 24px;
}

p.intro {
  width: 50%;
  font-style: italic;
}

p.author {
  width: 75%;
  font-style: italic;
  font-weight: bold;
}

.list {
font-size:small;
}
ul {
  font-size: 20px;
  line-height: 30px;
  font-style: bold;
}

.location-item {
  color: yellow;
}

img.location-item {
  width: 360px;
}

.important {
  color: red;
}